{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Baby Prince</title>
</head>

<body>
    <main class="main" id="main">
        <section class="home" style="background-image: url('{% static 'images/home-page.png' %}');">
            <header class="header">
                <div class="header__logo-container">
                    <a class="header__logo-link" href="#"><img class="header__logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
                </div>
                <nav class="navbar">
                    <ul class="navbar__list">
                        <li><a class="navbar__link" href="#">Inicio</a></li>
                        <li><a class="navbar__link" href="#">Tienda</a></li>
                        <li><a class="navbar__link" href="#">Quienes somos</a></li>
                        <li><a class="navbar__link" href="#">Contáctanos</a></li>
                    </ul>
                </nav>
                <div class="header__icons-container">
                    <img class="header__icon" src="{% static 'images/search.svg' %}">
                    <img class="header__icon" src="{% static 'images/cart.svg' %}">
                    <img class="header__icon" src="{% static 'images/user.svg' %}">
                </div>
        
                <!--INICIO MODAL-NAVBAR-->
        
                <div class="modalNavbar__background">
                    <nav class="modalNavbar">
                        <img class="modalNavbar__close-icon" src="{% static 'images/icon-close.svg' %}" alt="" />
                        <ul class="modalNavbar__list">
                            <li><a class="modalNavbar__link" href="#">Inicio</a></li>
                            <li><a class="modalNavbar__link" href="#">Tienda</a></li>
                            <li><a class="modalNavbar__link" href="#">Quienes somos</a></li>
                            <li><a class="modalNavbar__link" href="#">Contáctanos</a></li>
                        </ul>
                    </nav>
                </div>
                <!--FIN MODAL-NAVBAR -->
            </header>
            <div class="home__container">
                <div class="home__line"></div>
                <div class="home__title-container">
                    <h1 class="home__title">Baby <span>Prince</span></h1>
                    <a class="home__see-more" href="#">Ver más</a>
                </div>
            </div> 
        </section>
        <section class="products">
            <article class="products__container">
                <div class="products__text-container">
                    <h3 class="products__title">Cobijas</h3>
                    <a class="products__see-all-container" href="#">
                        <p class="products__see-all">VER TODO</p>
                        <img class="products__arrow-right" src="/images/arrow-right.svg">
                    </a>
                </div>
                <div class="products__product-container">
                    {% for product in products %}
                        <div class="products__product">
                            <div class="products__img1-container"  style="background-image: url('{{ product.product_photo.url }}');">
                                <div class="products__labels-container">
                                    <span class="products__label1">más vendido</span>
                                    <span class="products__label2">Nuevo</span>
                                </div>
                                <img class="products__cart" src="/images/cart.svg">
                            </div>
                            <div class="products__product-description-container">
                                <p class="products__product-description">Cobija</p>
                                <p class="products__product-price">$1,432</p>
                            </div>
                        </div>
                    {% endfor %}
                
                </div>
            </article>
            <article class="products__container">
                <div class="products__text-container">
                    <h3 class="products__title">Pijamas</h3>
                    <a class="products__see-all-container" href="#">
                        <p class="products__see-all">VER TODO</p>
                        <img class="products__arrow-right" src="/images/arrow-right.svg">
                    </a>
                </div>
                <div class="products__product-container">
                    <div class="products__product">
                        <div class="products__img5-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                    <div class="products__product">
                        <div class="products__img6-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                    <div class="products__product">
                        <div class="products__img7-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                    <div class="products__product">
                        <div class="products__img8-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                </div>
                <div class="products__product-container">
                    <div class="products__product">
                        <div class="products__img9-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                    <div class="products__product">
                        <div class="products__img10-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                    <div class="products__product">
                        <div class="products__img11-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                    <div class="products__product">
                        <div class="products__img12-container">
                            <div class="products__labels-container">
                                <span class="products__label1">más vendido</span>
                                <span class="products__label2">Nuevo</span>
                            </div>
                            <img class="products__cart" src="/images/cart.svg">
                        </div>
                        <div class="products__product-description-container">
                            <p class="products__product-description">Pijama</p>
                            <p class="products__product-price"><span
                                    class="products__product-discount">$2,350</span>$1,432</p>
                        </div>
                    </div>
                </div>
                    
                </div>
            </article>
        </section>
        <section class="categories">
            <h2 class="categories__title">Compra por categoría</h2>
            <div class="categories__container">
                <div class="categories__items-container">
                    <ul class="categories__list">
                        <li><a class="categories__link" href="#"><span>Pijamas</span></a></li>
                        <li><a class="categories__link" href="#">Sábanas</a></li>
                        <li><a class="categories__link" href="#">Cobijas</a></li>
                    </ul>
                </div>
                <div class="categories__products-container">
                    <div class="categories__product">
                        <div class="categories__img13-container">
                            <div class="categories__labels-container">
                                <span class="categories__label1">más vendido</span>
                                <span class="categories__label2">Nuevo</span>
                            </div>
                            <img class="categories__cart" src="/images/cart.svg">
                        </div>
                        <div class="categories__product-description-container">
                            <p class="categories__product-description">Pijama</p>
                            <p class="categories__product-price">
                                <span class="products__product-discount">$2,350</span>$1,432
                            </p>
                        </div> 
                    </div>
                    <div class="categories__product">
                        <div class="categories__img14-container">
                            <div class="categories__labels-container">
                                <span class="categories__label1">más vendido</span>
                                <span class="categories__label2">Nuevo</span>
                            </div>
                            <img class="categories__cart" src="/images/cart.svg">
                        </div>
                        <div class="categories__product-description-container">
                            <p class="categories__product-description">Pijama</p>
                            <p class="categories__product-price">
                                <span class="products__product-discount">$2,350</span>$1,432
                            </p>
                        </div> 
                    </div>   
                    <div class="categories__product">
                        <div class="categories__img15-container">
                            <div class="categories__labels-container">
                                <span class="categories__label1">más vendido</span>
                                <span class="categories__label2">Nuevo</span>
                            </div>
                            <img class="categories__cart" src="/images/cart.svg">
                        </div>
                        <div class="categories__product-description-container">
                            <p class="categories__product-description">Pijama</p>
                            <p class="categories__product-price">
                                <span class="products__product-discount">$2,350</span>$1,432
                            </p>
                        </div> 
                    </div>   

                </div>
                <div class="categories__arrow-right-container">
                    <img class="categories__arrow-right" src="/images/arrow-right.svg">
                </div> 
            </div>
        </section>
        <section class="whyUs">
            <div class="whyUs__background" style="background-image: url('{% static 'images/foto-bebe1.png' %}');"></div>
            <article class="whyUs__info-container">
                <h2 class="whyUs__title">¿Por qué elegirnos?</h2>
                <div class="whyUs__services-container">
                    <div class="whyUs__service">
                        <div class="whyUs__icon-container">
                            <img class="whyUs__icon" src="{% static 'images/star.svg' %}">
                        </div>
                        <h4 class="whyUs__subtitle">Alta Calidad</h4>
                        <p class="whyUs__info">
                            Todos nuestros productos fueron creados bajo los mejores estándares de calidad.
                        </p>
                    </div>
                    <div class="whyUs__service">
                        <div class="whyUs__icon-container">
                            <img class="whyUs__icon" src="{% static 'images/bag.svg' %}">
                        </div>
                        <h4 class="whyUs__subtitle">Devoluciones fáciles</h4>
                        <p class="whyUs__info">
                            Nuestra política de devoluciones es sencilla, es por eso que nuestros clientes se sienten a
                            gusto en nuestra tienda.
                        </p>
                    </div>
                
                    <div class="whyUs__service">
                        <div class="whyUs__icon-container">
                            <img class="whyUs__icon" src="{% static 'images/user-bag.svg' %}">
                        </div>
                        <h4 class="whyUs__subtitle">Servicio al cliente</h4>
                        <p class="whyUs__info">
                            Nuestro servicio al cliente es eficiente, pues tu comodidad y satisfacción es lo más
                            importante.
                        </p>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="footer__info-container">
            <a class="footer__logo-link" href="#"><img class="footer__logo" src="{% static 'images/logo.png' %}" alt="logo"></a>
            <nav class="footer__navbar">
                <ul class="footer__list">
                    <li><a class="footer__link" href="">Inicio</a></li>
                    <li><a class="footer__link" href="">Tienda</a></li>
                    <li><a class="footer__link" href="">Quienes somos</a></li>
                    <li><a class="footer__link" href="">Contáctanos</a></li>
                </ul>
            </nav>
            <div class="footer__suscribe-container">
                <h5 class="footer__subtitle">Suscríbete para más información</h5>
                <form class="footer__form">
                    <input class="footer__form-email" type="email" name="email" placeholder="Ingresa tu email">
                    <input class="footer__form-submit" type="submit" value="Suscribirse">
                </form>
                <div class="footer__icons-container">
                    <div class="footer__icon-circle">
                        <img class="footer__icon" src="{% static 'images/facebook.svg' %}">
                    </div>
                    <div class="footer__icon-circle">
                        <img class="footer__icon" src="{% static 'images/instagram.svg' %}">
                    </div>
                    <div class="footer__icon-circle">
                        <img class="footer__icon" src="{% static 'images/linkedin.svg' %}">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__rights-container">
            <p class="footer__right">© 2023 All rights reserved.</p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>

</html>