
{% extends "base.html" %}

{% block page_content %}
        
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">BABY PRINCE</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>


        <!-- Content section 1-->
        <section id="scroll border-botton">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://burst.shopifycdn.com/photos/blank-notebook-on-creative-workspace.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">About</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <!-- Content section 2-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 ">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://burst.shopifycdn.com/photos/blank-notebook-on-creative-workspace.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="p-5">
                            <h2 class="display-4">Quienes somos</h2>
                            <p>descripcion</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://burst.shopifycdn.com/photos/artist-designer-at-work.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Mision</h2>
                            <p>Baby Prince es un empresa Colombiana, dedicada al diseño, producción y comercialización de lencería para bebés, la cual cuenta con suministros en todos los estándares de calidad y servicio al cliente, a un precio competitivo en el mercado.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 4-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://burst.shopifycdn.com/photos/business-flatlay-in-india.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="..." /></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2 class="display-4">Vision</h2>
                            <p>Ser una macroempresa en el 2030 solida y solvente a Nivel nacional e internacional. Siendo lider en nuestra marca y confección de lencería para bebes el mercado, garantizando la comodidad, seguridad y calidad en el producto para cumplir con las expectativas de nuestros clientes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Content section 5-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-2">
                        <div class="p-5"><img class="img-fluid rounded-circle" src="https://burst.shopifycdn.com/photos/blank-notebook-on-creative-workspace.jpg?width=925&format=pjpg&exif=1&iptc=1" alt="..." /></div>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Valores</h2>
                            <p>descripcion</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <h1>Productos</h1>
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for product in products %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{product.product_photo.url}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.name}}</h5>
                                    <!-- Product price-->
                                    <p>{{product.worth_unit}}</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
            
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        
        
{% endblock %}
        
